
/*huvudrubrik*/
h1 {
 font-size: 60px;
 text-align: center;
 border-bottom: 2px solid black;  }




nav > ul{
 display: grid;
 grid-template-columns: 1fr 1fr 1fr; 
 grid-gap: 10px;
 list-style:none;
 text-align: center;}







nav > ul a{
 display: block;
 padding: 10px;
 background-color: #ff9999;
 font-size: 40px;
 font-family: Arial;
 border: 2px solid black;
 border-radius: 10px;  
 text-decoration: none;
 }
 



body{
 font-size: 25px;
 font-family: Arial;
 background-color: lightblue;  }
a {
  text-decoration: none;
  color: black;
}
a > p{
  text-align: center;
}
.alt {
  display: grid;
   grid-template-columns: 1fr 1fr;
}

.kladd {
  padding-top: 60px;
  width: 500px;
    length: 500px;
}
.mousse {
    width: 400px;
    length: 400px;
   img-align: center;
   padding-top: 70px;
  }


