h1 {
  font-size: 60px;
  text-align: center;
  border-bottom: 2px solid black;  }

nav > ul{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;  
  grid-gap: 10px;
  list-style:none; 
  text-aign: center;}

nav > ul a{
  display: block;
  padding: 10px;
  background-color: #ff9999;
  font-size: 40px;
  font-family: Arial;
  border: 2px solid black;
  border-radius: 10px;  }
  text-decoration: none;

  
body{
  font-family: Arial;
  background-color: lightblue;  }
  font-size: 25px;
}

.both {
  clear: both; }
